#itMap {
    width: 100%; /* neem de volle breedte in van het parent element */
    height: 500px;
}

#itMap2 {
    width: 100%; /* neem de volle breedte in van het parent element */
    height: 500px;
}